$primary-color: #c0392b;
$secondary-color: #8e44ad;

.App {
  background: linear-gradient(to top right, $primary-color, $secondary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.question-container {
  padding: 20px;
  margin-top: 50px;
  background-color: $primary-color !important;
  color: white !important; 
  font-weight: bold !important;
}
.answer-container {
  padding: 20px;
  margin-top: 30px;
}

.score {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}